# Java files
*.class

# Database properties
repository/src/main/resources/database.properties

# Package Files #
*.jar
*.war

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Intellij IDEA
*.iml
.idea

#Build directories
target
classes

#Node modules
front/node_modules
front/dist
*.log
