#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 80px;

  #sidebar-wrapper {
    width: 80px;
  }

}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 80px;
  width: 0;
  height: 100%;
  margin-left: -80px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #2b2b2b;
  transition: all 0.5s ease;

  .sidebar-button {
    display: block;
    width: 80px;
    height: 60px;
    text-align: center;
    color: white;
    background-color: #222;
    font-size: 20px;
    line-height: 60px;
    margin: 0 -4px 0 0;
  }

  .sidebar-button:hover {
    width: 84px;
    border-left: 4px solid #ffa27e;
    color: #2b2b2b;
    transition: all 0.3s ease;
    background-color: #f5f5f5;
  }
}

#top-bar {
  height: 70px;
  background-color: #fbfbfb;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';